@page
@model FloChar.AnswerQuestionModel
@{
    ViewData["Title"] = "AnswerQuestion";
}


<script src="~/js/questionHandler.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script>
    function collapse(id) {
        window.alert("Success!");
    }
</script>
<h1>Answer Questions</h1>
@foreach (var rootQuestion in Model.RootQuestions)
{
<div>
    <div href="/treedisplay" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-@rootQuestion.Id" aria-expanded="false" aria-controls="collapse-@rootQuestion.Id;">
        <p>@rootQuestion.Name</p>
    </div>
    <div class="collapse" id="collapse-@rootQuestion.Id">
        <div class="card card-body">
            <h4>@rootQuestion.Name</h4>
            @{List<int> subIds = new List<int>();}
            @foreach (Models.SubQuestion subQuestion in Model.SubQuestions)
            {
                subIds.Add(subQuestion.Id);

                @if (subQuestion.RootId == rootQuestion.Id)
                {


                    <div>
                        <label>@subQuestion.Name</label>
                        <div>
                            <div>
                                <label>Yes&emsp;</label><input class="@rootQuestion.Id-@subQuestion.Id-yes" id="Yes" type="radio" name="@subQuestion.Id-radio" /><br />
                                <label>No&emsp;</label><input class="@rootQuestion.Id-@subQuestion.Id" id="No" type="radio" name="@subQuestion.Id-radio" />
                            </div>
                        </div>
                    </div>


                    <br />
                }
                <script>
                    function send_answer_@(rootQuestion.Id)_@(subQuestion.Id)()
                    {
                        yes_button = document.getElementsByClassName(@rootQuestion.Id + "-" + @subQuestion.Id + "-yes")[0].checked;
                        //console.log(sid);
                        if (yes_button) {
                            answerQuestion(@rootQuestion.Id, @subQuestion.Id, "Yes")
                        }
                        else {
                            answerQuestion(@rootQuestion.Id, @subQuestion.Id, "No")
                        }
                    }
                </script>
            }
            <button class="btn btn-primary" onclick="@foreach (Models.SubQuestion subQuestion in Model.SubQuestions){if (subQuestion.RootId == rootQuestion.Id){<text>send_answer_</text>@(rootQuestion.Id)<text>_</text>@(subQuestion.Id)<text>(); </text>}} updateGraph(@rootQuestion.Id);">Submit</button>
                 <br />
                 <br />
                 <br />
             </div>
     </div>

     </div>

     <br />
}


